*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.parent{
    height: 1000px;
    width: 100%;
    background-color: cornflowerblue;
}

.child{
    height: 60%;
    width: 60%;
    background-color: aqua;
}

.grandchild{
    /* height: 30%;
    width: 30%; */
    height: 50vh;
    width: 50vw;
    background-color: aquamarine;
}

p{
    color: crimson;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}