*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

.container{
    background-color: beige;
    height: 1000px;
    margin: 5px;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* i had to mention this because my div is of fixed size  1000px items are occupiying extra available space */
    /* align-items: flex-start; */
    /* align-content: flex-start; */
    align-items: center;
    /* align-content: center; */
    justify-content: center;
    

}

.box{
    height: 200px;
    width: 200px;
    margin: 2px;
    border: 2px solid black;
}

#box1{
    background-color: cadetblue;
}
#box2{
    background-color: maroon;
}
#box3{
    background-color: crimson;
}
#box4{
    background-color: blue;
}